@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100vh;
  background: #F5F5F7;
}
#app {
  height: 100%;
}
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
.btn {
  padding: 8px 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  border: 1px solid #B2B7C1;  
}
.btn.active {
  border: 1px solid #36F;
  color: #36F;
}